/* Common css and utilities */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Common Css and utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px auto;
}
.container{
    width: 80%;
    margin: 0px auto;
}


/* Top Header Section */
header {
    background-color: #2D25A0;
    animation: head-bg 5s linear  2s infinite alternate;
  }
  
  @keyframes head-bg {
    from {background-color: #2D25A0;}
    to {background-color: rgb(220, 97, 231);}
  }
header{
    background-color: #2D25A0;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 42px 0px;
}
.main-menu{
    margin: 0px;
}
.main-menu ul{
    list-style: none;
    margin: 0px;
}
.main-menu ul li{
    display: inline-block;
}
.main-menu ul li a{
    text-decoration: none;
    color:white;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 500;

}
.login-btn a{
    background-color: #E02C6D;
    padding: 10px 24px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.fas.fa-sign-in-alt{
    padding-right: 8px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    
}
.banner-details{
    width: 45%;
}

.banner-title h1{
    font-size: 64px;
    color: white;
    margin: 0px;
    padding-bottom: 27px;
}
.watchnow-button a{
    background-color: #E02C6D;
    padding: 10px 24px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.fas.fa-arrow-right{
    padding-left: 8px;
}
.banner-img img{
    width: 556px;
    height: 438px;
}

/* Players Section */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding-top: 70px;
}
.player{
    padding:16px;
    box-shadow: 0px 0px 30px #cac9c9;
   
}
.player-img img{
    width: 300px;
    height: 256px;
}
.player-info h3{
    font-size: 28px;
    margin: 0px;
    padding: 16px 0px 10px 0px;
}
.player-info p{
    font-size: 16px;
    margin: 0px;
}

/* Copa America Highlight section */
.copa-highlights{
    display: flex;
    padding: 165px 0px;
    column-gap: 55px;
}
.highlights-details{
    margin: 50px 0px;
}
.highlights-details h1{
    font-size: 48px;
    margin: 0px;
    font-weight: 700;
}
.highlights-details p{
    font-size: 16px;
}
.highlights-banner img{
    width: 567px;
    height: 427px;
}

/* Copa america 2021 award */
.copa-america-award{
    padding: 0px 0px 50px 0px;
}


.section-title{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}
.golden-ball, .golden-boot, .golden-graves{
    display: flex;
    justify-content: space-between;
    padding:50px 0px;

}
.award-winner-image{
    padding:15px;
    box-shadow: 0px 0px 30px #cac9c9;
    background-color: lightpink;

}
.award-winner-image img{
    width: 300px;
    height: 256px;
    

    
}
.award-winer-info{
    width: 45%;
}
.award-winer-info h3{
    font-size: 35px;
    margin: 0px;
    color: blueviolet;
    font-weight: 800;
}
.award-winer-info h4{
    margin: 0px;
    font-size: 30px;
    color: coral;
}
.award-winer-info p{
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
}

/* footer section */
.footer{
    width: 483px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 63px;
}
.football-logo img{
    width: 480px;
    height: 110px;
}
.social-icon .icon{
    font-size: 32px;
    background-color: #E7E7E8;
    padding:10px;
    border-radius: 50%;
    margin:10px;
}
/* Resposible for Mobile Device */
@media screen and (max-width:680px) {
    nav{
        display: none;
    }
    .top-header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    main.container{
        width: 100%;
    }
    .banner-title h1{
        font-size: 40px;
    }
    .player-img img{
        width: 100%;
    }
    .banner-details{
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);

    }
    .player-img img{
        width: 100%;
    }
    .copa-highlights{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-details, .award-winer-info{
        text-align: center;
        width: 100%;
    }
    .highlights-banner img{
        width: 100%;
    }
    .golden-ball, .golden-boot, .golden-graves{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }
    .award-winner-image img{
        width: 100%;
    }
   
}
@media screen and (min-width:681px) and (max-width:990px) {
    nav{
        display: none;
    }
    .top-header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    main.container{
        width: 100%;
    }
    .banner-title h1{
        font-size: 40px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
    }
    .banner-details{
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);

    }
    .player-img img{
        width: 100%;
        height: 100%;
    }
    .copa-highlights{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-details, .award-winer-info{
        text-align: center;
        width: 100%;
    }
    .highlights-banner img{
        width: 100%;
    }
    .golden-ball, .golden-boot, .golden-graves{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;

    }
   
}

@media screen and (min-width:990px) and (max-width:1100px) {
    .top-header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    main.container{
        width: 100%;
    }
    .player-img img{
        width: 100%;
    }
    
}